body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(135deg, #d32f2f, #6a1b9a, #5d4037); /* Red, Purple, Brown */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

.header .logo {
    height: 100px; /* Adjust height as needed */
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
}

.form-group .required {
    color: red;
    margin-left: 5px;
    font-weight: 700;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

.form-group select {
    height: 44px;
}

.form-group textarea {
    resize: vertical;
}

button {
    width: 20%;
    padding: 14px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    margin: auto;
    display: block;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
    transform: translateY(0);
}
